{{ define "footer" }}
    <footer class="py-5 px-5">
        <div class="container">
            <p>
                本示例基于以下代码完成。
                <span class="text-muted">
                    <a href="https://github.com/GoogleCloudPlatform/microservices-demo/">(源代码)</a>
                </span>
            </p>
            <p>
                <small class="text-muted">
                    本网站仅供演示之用。这不是一个真正的商店。
                </small>
            </p>
            <small class="text-muted">
                {{ if $.session_id }}session-id: {{ $.session_id }}</br>{{end}}
                {{ if $.request_id }}request-id: {{ $.request_id }}</br>{{end}}
            </small>
        </div>
    </footer>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>
{{ end }}
