{{ define "order" }}
    {{ template "header" . }}

    <main role="main">
        <div class="py-5">
            <div class="container bg-light py-3 px-lg-5">
                <div class="row mt-5 py-2">
                    <div class="col">
                    <h3>
                        您的订单已经完成！
                    </h3>
                    <p>
                        订单确认ID: <strong>{{.order.OrderId}}</strong>
                        <br>
                        送货跟踪ID: <strong>{{.order.ShippingTrackingId}}</strong>
                    </p>
                    <p>
                        运费: <strong>{{renderMoney .order.ShippingCost}}</strong>
                        <br>
                        总付款: <strong>{{renderMoney .total_paid}}</strong>
                    </p>
                    <a class="btn btn-primary" href="/" role="button">浏览其他 &rarr; </a>
                    </div>
                </div>
                <hr/>

                {{ if $.recommendations }}
                <div class="row mt-5 py-2">
                    {{ template "recommendations" $.recommendations }}
                </div>
                {{ end }}
            </div>
        </div>
    </main>

    {{ template "footer" . }}
{{ end }}
